.bbest-bea-content {
  height: 480px;
  background: #dfeaf2;
  border-radius: 60px 60px 0px 60px;
  width: 100%;
  margin-bottom: 84px;
  margin-top: 80px;
  padding: 95px 80px;
}

.bbest-bea {
  margin-top: 111px;
}

.bbest-bea-title {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 56px;
  color: #000099;
}

.bbest-bea .bbest-bea-header p span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0066ff;
}

.bbest-bea-text-esm {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000099;
}

.bbest-bea-content .bbest-bea-pergunte-bea {
  margin-top: 40px;
  background: #0066ff;
  border-radius: 33px;
  width: 197px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.bbest-bea-content .bbest-bea-pergunte-bea:hover {
  border: 1px solid #0066ff;
  color: #000099;
  background-color: rgba(255, 255, 255, 0);
}

.bbest-bea-content .content {
  max-width: 490px;
}

.bbest-bea-content .content .bbest-bea-boby-text {
  color: #000099;
}

.bbest-bea-content .content .bbest-bea-title {
  margin-bottom: 24px;
}

.bbest-bea-content .bbest-bea-card-img-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.bbest-bea {
  margin-top: 79px;
}

.bbest-bea .bbest-bea-header {
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 575.98px) {
  .bbest-bea-content {
    height: 101%;
    padding: 60px 20px;
  }

  .bbest-bea {
    margin-top: 113px;
  }
}
@media (max-width: 768px) {
  .bbest-bea-title {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 991.98px) {
  .bbest-bea-content {
    height: 100%;
  }
  .bbest-bea-content img {
    max-width: 316px;
  }
  .bbest-bea-content .content {
    max-width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .bbest-bea-content .bbest-bea-pergunte-bea {
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (max-width: 1199.98px) {
  .bbest-bea-content img {
    max-width: 316px;
  }
  .bbest-bea-content .content {
    max-width: 100%;
  }
  .tema-destaque-caixa-info {
    padding: 20px 20px;
  }
}

@media (max-width: 1400.98px) {
  .bbest-bea-content .content {
    max-width: 100%;
  }
}
